@using QLNhaSachFahasa.Resources
<li class="menu-item">
    <a href="@Url.Action("Index","Book")">@ViewText.TITLE_LIST_BOOK</a>
</li>
<li class="menu-item">
    <a href="@Url.Action("Stationery","Book")">@ViewText.TITLE_STATIONERY_LIST</a>
</li>
<li class="menu-item">
    <a href="@Url.Action("Create","Book")">@ViewText.TITLE_CREATE_BOOK</a>
</li>
<li class="menu-item">
    <a href="@Url.Action("CreateStationery","Book")">@ViewText.TITLE_ADD_NEW_STATIONERY</a>
</li>
