@using QLNhaSachFahasa.Resources
    <li class="menu-item">
        
        <a href="@Url.Action("Index","Report")">@ViewText.Title_Statistic_Order_By_Month</a>
    </li>

    <li class="menu-item">

        <a href="@Url.Action("ReportByDay","Report")">@ViewText.Title_Statistic_Order_By_Day</a>
    </li>
    <li class="menu-item">

        <a href="@Url.Action("ReportProduct","Report")">@ViewText.Tittle_Product_Statistics</a>
    </li>