@using QLNhaSachFahasa.Resources
    <li class="menu-item">
        
        <a href="@Url.Action("Index","Report")">@ViewText.Title_Statistics_Orders</a>
    </li>

    <li class="menu-item">

        <a href="@Url.Action("SalesReport","Report")">@ViewText.Sales_Statistics</a>
    </li>
    <li class="menu-item">

        <a href="@Url.Action("ReportProduct","Report")">@ViewText.Tittle_Product_Statistics</a>
    </li>