@using QLNhaSachFahasa.Resources
@{
    ViewBag.Title = "Classification";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}
@section slider{
    <li class="menu-item ">
        <a href="@Url.Action("Classification","Setting")">@ViewText.TITLE_CLASSIFICATION</a>
    </li>
}
@section title{
    @ViewText.TITLE_CLASSIFICATION
}
<div class="col-8 ">
    <div id="treeview"></div>
</div>
<div id="popupAddWindows">
    <div id="wndAddContent"></div>
</div>
@section scripts{
    <script>

        $("#popupAddWindows").kendoWindow({
            title: "@Html.Raw(ViewText.Title_Add_Classification)",
            visible: false,
            modal: true,
            maxHeight: 400,
            minWidth: 400,
            draggable: true,
            scrollable: true
        });
        function fnadd(id) {
            $('#wndAddContent').load("/Admin/Setting/AddPLView?idParent=" + id, function () {
                $("#popupAddWindows").data("kendoWindow").center().open().element.closest(".k-window").css({ top: 20 });
            });
        }
        var item = new kendo.data.HierarchicalDataSource({
            data: [
                {
                    text: "Furniture", items: [
                        { text: "Tables & Chairs" },
                        { text: "Sofas" },
                        { text: "Occasional Furniture", items: [{ text: "abcdef" }, { text:"jasdhjasd" }] }
                    ]
                },
                {
                    text: "Decor", items: [
                        { text: "Bed Linen" },
                        { text: "Curtains & Blinds" },
                        { text: "Carpets" }
                    ]
                }
            ]
        });
        var treeview = $("#treeview").kendoTreeView({
            dataTextField: "text",
            select:false,
            template: "<div class='w-100'>#= item.text # <button class='button buttonEdit rounded-circle' style='float:right' onclick='fnadd(\"#:item.id#\")'><i class='fa fa-plus' aria-hidden='true'></i></button></div>",
        }).data("kendoTreeView");
        function LoadData() {
            var dataSource = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: function (options) {
                        $.ajax({
                            url: '@Url.Action("GetDataTreeView", "Setting")',
                            dataType: "json",
                            success: function (result) {
                                options.success(result);
                            },
                            error: function (result) {
                                options.error(result);
                            }
                        });
                    }
                },
                schema: {
                    model: {
                        id: "id",
                        children: "items"
                    }
                }
            });

            treeview.setDataSource(dataSource);
        }
        LoadData();
    </script>

}