@*@model IEnumerable<QLNhaSachFahasa.Areas.Admin.Models.RegisterEmloyeeModel>*@
@model Model.EF.NHANVIEN
@using QLNhaSachFahasa.Resources

@using (Html.BeginForm("EditEmloyee", "Emloyee", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success">@ViewBag.Success</div>
        }
        @*<div class="row mb-3">
            <div class="col-md-4">
                @ViewText.TITLE_ID_EMPLOYEE
            </div>
            <div class="col-md-8">
                @Html.DisplayTextFor(model => model.MANV)
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-4">
                @ViewText.TITLE_NAME_EMPLOYEE
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.TENNV, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TENNV, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @ViewText.TITLE_ADDRESS
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.DIACHINV, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DIACHINV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @ViewText.TITLE_PHONE
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.SDTNV, new { @class = "form-control", @maxlength = 11, @id = "txtPhoneNumber" })
                @Html.ValidationMessageFor(model => model.SDTNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @ViewText.TITLE_EMAIL
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.MANV)
        @*<div class="row">
            <div class="col-md-4">
                @ViewText.TITLE_STATUS
            </div>
            <div class="col-md-8">
                @Html.CheckBoxFor(model => model.TRANGTHAI, new { @style = "height:20px" })
            </div>
        </div>*@

        <div class="row">
            <div class="col-md-12 text-right">
                <input type="submit" value="@ViewText.BUTTON_UPDATE" class="btn-success btn" />
            </div>
        </div>
    </div>
}
<script>
    initKeydownNumber();
</script>